@import "../../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss"

$margin 	: 2.5%
$padding	: 3px 8px

$twitter 	: #00acee
$foursquare : #25a0ca
$instagram	: #3f729b
$vimeo		: #7b8084
$book_dark	: #725333
$book_light : #f2e5d7

$black		: #333
$about 		: #fafade
$gray		: #bbb
$smoke		: #f6f6f6

@font-face
	font-family: 'Akkurat'
	src: url('../fonts/AkkRg_Pro_1.eot?') format('eot'), url('../fonts/AkkRg_Pro_1.woff') format('woff'), url('../fonts/AkkRg_Pro_1.ttf') format('truetype'), url('../fonts/AkkRg_Pro_1.svg') format('svg')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'AkkuratBold'
	src: url('../fonts/AkkBd_Pro_1.eot?') format('eot'), url('../fonts/AkkBd_Pro_1.woff') format('woff'), url('../fonts/AkkBd_Pro_1.ttf') format('truetype'), url('../fonts/AkkBd_Pro_1.svg') format('svg')
	font-weight: normal
	font-style: normal

@keyframes slidenavAnimation
	from
		opacity: 0
		margin-top: -9px
	to
		opacity: .99
		margin-top: 1px

@-webkit-keyframes slidenavAnimation
	from
		opacity: 0
		margin-top: -9px
	to
		opacity: .99
		margin-top: 1px

body
	margin: 0
	background-color: #ddd
	font-family: 'Akkurat', Sans-Serif
	font-size: 15px

section
	margin: $margin / 2 0 0 $margin

	a
		color: inherit
		cursor: pointer
		outline: 0
		&.btn
			text-decoration: none

	.btn
		background-color: $smoke
		border: 1px solid $gray
		border-radius: 0
	
	&#head
		overflow: auto

		h1
			margin: 0
			font-size: 50px
			font-family: inherit
			float: left

		#filter
			float: right
			margin-right: $margin
			a
				color: $black
				display: block
				float: left
				&:first-child
					margin-right: 0
				&:hover, &:active, &:focus
					text-decoration: none
			span
				float: left
				margin: 0 10px
				color: #aaa

			.lavalamp-object
				border-bottom: 1px solid $black


article
	background-color: white
	margin: 0 $margin $margin / 1.1 0
	float: left
	width: 22.5%
	box-shadow: 6px 6px 0px 0px $gray

	a
		text-decoration: underline
		&:hover
			color: $gray
		&.image
			display: block
			position: relative
			img
				width: 100%
			i
				color: white
				position: absolute
				left: 106px
				top: 50%
				margin-top: -55px
				font-size: 100px
				opacity: .5
			&:hover
				i
					opacity: 1

	p
		margin: 8px
		overflow: hidden

	h4
		margin: 12px 8px 8px
		font-family: 'AkkuratBold'
		line-height: 1.2
		font-size: 16px
		a
			text-decoration: none

	header
		padding: $padding

	footer
		padding: $padding
		color: $gray
		background-color: #f6f6f6
		border-top: 1px solid #eee
		font-size: 12px
		position: relative
		time
			position: absolute
			right: 8px

	&.loading
		opacity: 0
		
	&.about
		display: block
		background-color: $about
		z-index: 1000
		a.btn
			background-color: $about
			padding: 4px 10px 1px
			&:hover
				background-color: $black
				border-color: $black
				color: $about
	&.article header
		background-color: #eee
		color: $black
	&.project header
		background-color: $black
		color: white
	&.status header
		background-color: $twitter
		color: white
	&.checkin header
		background-color: $foursquare
		color: white
	&.photo	 header
		background-color: $instagram
		color: white
	&.video header
		background-color: $vimeo
		color: white
	&.book 
		background-color: $book_light
		overflow: auto
		header
			background-color: $book_dark
			color: white
		img
			float: left
			margin: 8px 12px 12px 8px
			//box-shadow: 2px 2px 13px rgba(50, 50, 50, 0.5)
			box-shadow: 3px 3px 0px 0px white
			max-width: 100px
			height: auto
		footer
			clear: left
			background-color: $book_light
			color: $book_dark
			border-top: 0

	&:hover
		header
			a.edit
				display: block
				color: white
				opacity: .5
				&:hover
					opacity: 1

#contact
	input, textarea, button, .modal-content
		border-radius: 0
	textarea
		height: 200px
		resize: none
	.form-group:last-child
		margin-bottom: 0
	.modal-header
		background-color: $black
		color: white
		padding: 10px 20px 7px
		h3
			font-family: 'Akkurat'
	.modal-content
		border: 0
		box-shadow: 10px 10px 0px 0px rgba(33, 33, 33, .5)
	.modal-footer
		border-top: 0
		padding-top: 0
		margin-top: 0
		button
			background-color: $twitter
			padding: 8px 12px 6px
			border: 0


// phone portrait - 1 col
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait)
	body
		section
			&#head
				h1
					font-size: 30px
					line-height: 50px
			&#articles
				article
					width: 100% - $margin
					margin-bottom: $margin * 2

// phone landscape - 1 col
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape)
	body
		section
			&#articles
				article
					width: 50% - $margin

// tablet portrait - 2 col
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)
	body
		section
			&#articles
				article
					width: 50% - $margin

// tablet landscape - 3 col
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)
	body
		section
			&#articles
				article
					width: 33.3333% - $margin
