body {
  font-family: Courier New, monospace; }
  body .btn:focus, body .btn-primary:focus {
    outline: none; }
  body input.btn-primary {
    background-color: #555555;
    border-color: #555555; }
    body input.btn-primary:hover, body input.btn-primary:active, body input.btn-primary:focus {
      background-color: #999999;
      border-color: #999999; }
  body.login div.modal-header {
    background-color: #555555;
    color: white; }
    body.login div.modal-header h2, body.login div.modal-header h3 {
      line-height: 1; }
    body.login div.modal-header h2 {
      font-size: 34px; }
  body.login div.modal-body div.alert {
    margin: -20px -20px 20px;
    border-width: 0 0 1px 0;
    border-radius: 0;
    text-align: center;
    line-height: 1; }
  body .container a {
    color: #555555; }
    body .container a:hover {
      color: #999999; }
  body .container .header a {
    background-image: url(/assets/img/avalon.png);
    width: 563px;
    height: 59px;
    margin-top: 20px; }
  body .container .main h1 {
    font-size: 30px; }
    body .container .main h1 i {
      font-size: 24px;
      margin: 0 -10px; }
      body .container .main h1 i:first-child {
        margin: 0; }
  body .container .btn-group a.btn-default {
    background-color: #555555;
    color: white;
    border-color: white;
    border-radius: 0;
    line-height: 1.5; }
    body .container .btn-group a.btn-default i {
      vertical-align: text-top; }
    body .container .btn-group a.btn-default:hover {
      background-color: #999999; }
  body .container .alert-warning {
    background-color: #eee;
    border-color: #ddd;
    border-radius: 0;
    padding: 100px 15px;
    text-align: center; }
